#Whitelist
/*
/.minecraft/*

#git
!/.gitignore
!/LICENSE
!/README.md

#config
!/.minecraft/config/acronym/*
!/.minecraft/config/modularmachinery/*

#others
!/.minecraft/resources/*
!/.minecraft/scripts/*